.toy-grid {
    display: grid;
    /* Automatski pravi kolone od minimum 240px, a preostali prostor deli jednako */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px;
}

.toy-card {
    /* Kartica uvek zauzima punu visinu koju joj grid dodeli */
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Osigurava da slika uvek bude istih dimenzija bez obzira na originalnu veličinu */
.toy-card img {
    height: 200px;
    object-fit: contain; 
    
}

/* Ovo "gura" akcije (dugme) na samo dno kartice */
mat-card-content {
    flex: 1; 
}

mat-card-actions {
    padding: 16px !important;
}